$color-white: #ffffff;
$color-green-midnight:#014e56;
$color-coral:#f67e7e;
$color-blue-rapture:#79c8c7;
$color-blue-police:#2c6269;
$color-green-jungle:#004047;
$color-green-state:#012f34;
$color-green-dark:#002529;