.hero-first__title--about {
    font-size: 64px;
}
.hero-second__line--about {
    background: $color-coral;
}
.hero-second__text--about {
    max-width: 730px !important;
}
.hero-second-about {
    gap: 40px;
}