.about-third__container {
    background: $color-green-state;
    padding: 120px 165px;
    position: relative;
    overflow: hidden;
}
.images-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images-box__img {
    display: block;
}
.about-third-back {
    position: absolute;
    left: 0;
    top: -20%;
}
.images-box__img {
    width: 165px;
}
.images-box__img:hover {
    transform: scale(1.3);
    transition: 0.3s;
    cursor: pointer;
}
