.second__container {
    background: $color-green-state;
    display: flex;
    justify-content: space-between;
    padding: 125px 165px;
    position: relative;
}

.second-info__heading {
    color: $color-white;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    width: 445px;
}

.second-rectangle {
    width: 50px;
    height: 4px;
    background: $color-coral;
}

.second-first {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.second-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.second-info__title {
    color: $color-coral;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
}

.second-info__text {
    color: $color-white;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    width: 445px;
}
.second-boxes {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.second-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.back-img {
    position: absolute;
    right: 0;
    bottom: 0;
}